Repository emkis/MovieCollection: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{vue,ts,js}": [
    "eslint --fix"
  ],
  "src/**/*.{json,css,scss}": [
    "prettier --write"
  ]
}

refactor(style): reduce class names
  src/pages/MovieCollection/components/MovieCollectionCard.vue
Due: eslint --fix

feat: add movie reviews query hook
  src/pages/Movie/hooks/use-movie-reviews-query.ts
Due: eslint --fix

refactor: change how reviews are fetched
  src/pages/Movie/components/MovieReviews.vue
Due: eslint --fix

refactor: change hook folder name to queries
  src/pages/Movie/queries/use-movie-details-query.ts
  src/pages/Movie/queries/use-movie-reviews-query.ts
Due: eslint --fix

refactor: change query file names
  src/pages/Movie/queries/movie-details-query.ts
  src/pages/Movie/queries/movie-reviews-query.ts
Due: eslint --fix

feat: add default router scroll behaviour
  src/router/index.ts
  src/router/router-scroll-behavior.ts
Due: eslint --fix

feat: add centralized movie keys
  src/pages/Movie/queries/movie-query-keys.ts
Due: eslint --fix

refactor: get query keys from file
  src/pages/Movie/queries/movie-details-query.ts
  src/pages/Movie/queries/movie-reviews-query.ts
Due: eslint --fix

refactor: change import path
  src/pages/Movie/Movie.vue
  src/pages/Movie/components/MovieReviews.vue
Due: eslint --fix

refactor: move query file and split keys
  src/pages/MovieCollection/queries/movies-query-keys.ts
  src/pages/MovieCollection/queries/movies-query.ts
Due: eslint --fix

refactor: change import path
  src/pages/MovieCollection/MovieCollection.vue
Due: eslint --fix

refactor: add functions to each responsability
  src/pages/Movie/queries/movie-details-query.ts
Due: eslint --fix

feat: add movie prefetch handler
  src/pages/MovieCollection/MovieCollection.vue
Due: eslint --fix

refactor: add create key function
  src/pages/Movie/queries/movie-reviews-query.ts
Due: eslint --fix

feat: add utility function
  src/utilities/time.ts
Due: eslint --fix

refactor: get minues from utility function
  src/pages/Movie/queries/movie-details-query.ts
  src/pages/Movie/queries/movie-reviews-query.ts
Due: eslint --fix

chore(deps): bump dependencies
  package.json
  yarn.lock
Due: none

chore(msw): bump msw version
  public/mockServiceWorker.js
Due: none

chore(deps): add postcss
  package.json
  yarn.lock
Due: none

chore(deps): remove axios-retry
  package.json
  yarn.lock
Due: none

refactor: remove retry configuration
  src/services/api/index.ts
Due: eslint --fix

refactor(deps): move sass-rem to dev dependencie
  package.json
Due: none

fix: fixes key
  src/pages/Movie/queries/movie-query-keys.ts
Due: eslint --fix

chore(deps): remove unused eslint dependencies
  package.json
  yarn.lock
Due: none

chore(deps): add eslint-config-prettier
  package.json
  yarn.lock
Due: none

chore(eslint): add eslint configurations and rules
  .eslintrc.js
Due: none

refactor: change script names
  package.json
Due: none

chore(deps): add postcss cssnano
  package.json
  yarn.lock
Due: none

chore(postcss): register cssnano plugin
  postcss.config.js
Due: none

refactor(styles): remove color concepts
  src/services/theme/colors.ts
  src/styles/theme/_concepts.scss
  src/styles/theme/_index.scss
Due: eslint --fix, prettier --write

refactor(styles): change concept vars for colors
  src/components/Button/Button.vue
  src/components/Heading/Heading.vue
  src/components/Text/Text.vue
  src/pages/Movie/Movie.vue
  src/pages/Movie/components/MovieReviewCard.vue
  src/pages/MovieCollection/components/MovieCollectionCard.vue
  src/pages/MovieCollection/components/MovieCollectionCardLoader.vue
  src/styles/global/_default.scss
Due: eslint --fix, prettier --write

refactor(styles): remove unused color tokens
  src/services/theme/colors.ts
  src/styles/theme/_colors.scss
Due: eslint --fix, prettier --write

refactor: change colors enum name
  src/pages/Movie/components/MovieHeartScore.vue
  src/pages/Movie/components/MovieReviewCard.vue
  src/pages/MovieCollection/components/MovieCollectionCard.vue
  src/services/theme/colors.ts
Due: eslint --fix

refactor: delete unused theme folder
  src/styles/theme/_index.scss
Due: prettier --write

refactor: move colors file
  src/styles/global/_colors.scss
  src/styles/global/_root.scss
Due: prettier --write

feat(styles): add color sass variables
  src/styles/tokens/_colors.scss
  src/styles/tokens/_index.scss
Due: prettier --write

refactor: change css vars for sass vars
  src/components/Button/Button.vue
  src/components/Heading/Heading.vue
  src/components/Text/Text.vue
  src/pages/Movie/Movie.vue
  src/pages/Movie/components/MovieReviewCard.vue
  src/pages/MovieCollection/components/MovieCollectionCard.vue
  src/pages/MovieCollection/components/MovieCollectionCardLoader.vue
  src/styles/global/_default.scss
Due: eslint --fix, prettier --write
