Repository emkis/MovieCollection: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "src/**/*.{vue,ts,js}": [
    "eslint --fix"
  ],
  "src/**/*.{json,css,scss}": [
    "prettier --write"
  ]
}

feat add movie database
  src/test/data/movies-database.ts
Due: eslint --fix

chore(deps): remove axios-cache-adapter
  package.json
  yarn.lock
Due: none

refactor: remove unnecessary cache configuration
  src/services/api/index.ts
Due: eslint --fix

chore(deps): add vue-query
  package.json
  yarn.lock
Due: none

chore(deps): bump dependencies
  package.json
  yarn.lock
Due: none

refactor: change movie service routes
  src/services/api/movie/movie-service.ts
Due: eslint --fix

refactor: change movie handlers routes
  src/test/server/handlers/movie-handlers.ts
Due: eslint --fix

refactor: remove unnecessary async
  src/services/api/movie/movie-service.ts
Due: eslint --fix

feat: use query provider within the app
  src/App.vue
Due: eslint --fix

feat: add get response utility function
  src/utilities/get-response.ts
Due: eslint --fix

refactor: change utility file name
  src/utilities/from-request.ts
Due: eslint --fix

feat: add use movies hook
  src/pages/MovieCollection/hooks/use-movies.ts
Due: eslint --fix

refactor: get movies from hook
  src/pages/MovieCollection/MovieCollection.vue
Due: eslint --fix

refactor: remove unnecessary types
  src/pages/Movie/hooks/use-movie-details/types.ts
Due: eslint --fix

refactor: change use movie details to use vue-query
  src/pages/Movie/hooks/use-movie-details.ts
  src/pages/Movie/hooks/use-movie-details/index.ts
Due: eslint --fix

refactor: provide movie name into params
  src/pages/MovieCollection/MovieCollection.vue
Due: eslint --fix

refactor: get data from hook
  src/pages/Movie/Movie.vue
Due: eslint --fix

refactor: change hook method names
  src/hooks/use-page-title/index.ts
Due: eslint --fix

refactor: change page title hook usage
  src/pages/Movie/Movie.vue
  src/router/route-title.ts
Due: eslint --fix

refactor: add default options for set
  src/hooks/use-page-title/index.ts
Due: eslint --fix

refactor: remove unused hook
  src/hooks/use-fetch/index.ts
  src/hooks/use-fetch/types.ts
Due: eslint --fix

chore(deps): add postcss cli and plugin
  package.json
  yarn.lock
Due: none

chore: add postcss configurations
  postcss.config.js
Due: none

chore(scripts): add optimize css script to build
  package.json
Due: none

refactor(style): move variable to top
  src/pages/Movie/Movie.vue
Due: eslint --fix

refactor(style): remove unnecessary rem
  src/pages/MovieCollection/MovieCollection.vue
Due: eslint --fix

chore(msw): change integrity checksum
  public/mockServiceWorker.js
Due: none

feat(style): remove margin from ul and ol
  src/styles/global/_reset.scss
Due: prettier --write

refactor: add types for params
  src/test/server/handlers/movie-handlers.ts
Due: eslint --fix

refactor: make class name shorter
  src/pages/MovieCollection/components/MovieCollectionCardLoader.vue
Due: eslint --fix

refactor(style): remove unnecessary vars
  src/pages/MovieCollection/components/MovieCollectionCardLoader.vue
Due: eslint --fix

refactor: change class names and styles
  src/pages/MovieCollection/MovieCollection.vue
Due: eslint --fix

feat: add movies query key factory
  src/pages/MovieCollection/hooks/use-movies-query.ts
Due: eslint --fix

refactor: change hook name
  src/pages/MovieCollection/MovieCollection.vue
Due: eslint --fix

feat: add movies details query key factory
  src/pages/Movie/hooks/use-movie-details.ts
Due: eslint --fix

refactor: change movie detais query hook name
  src/pages/Movie/Movie.vue
  src/pages/Movie/hooks/use-movie-details-query.ts
Due: eslint --fix

feat: make query keys constans
  src/pages/Movie/hooks/use-movie-details-query.ts
  src/pages/MovieCollection/hooks/use-movies-query.ts
Due: eslint --fix

feat: set staleTime for queries
  src/pages/Movie/hooks/use-movie-details-query.ts
  src/pages/MovieCollection/hooks/use-movies-query.ts
Due: eslint --fix

refactor(style): remove unnecessary rem convertions
  src/components/Container/Container.vue
  src/components/MovieInfo/MovieInfo.vue
  src/pages/MovieCollection/components/MovieCollectionCard.vue
Due: eslint --fix
