Repository emkis/MovieCollection: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

refactor: change folder name to tokens
  src/styles/tokens/_borders.scss
  src/styles/tokens/_breakpoints.scss
  src/styles/tokens/_typography.scss
  src/styles/tokens/index.scss
Due: yarn format

chore(vite): change global tokens importh path
  vite.config.ts
Due: none

refactor: move spacing to tokens folder
  src/styles/theme/index.scss
  src/styles/tokens/_spacing.scss
  src/styles/tokens/index.scss
Due: yarn format

style(refactor): change typography mixins name
  src/components/Heading/Heading.vue
  src/components/Text/Text.vue
  src/styles/global/_default.scss
  src/styles/tokens/_typography.scss
Due: yarn lint, yarn format

refactor: rename index tokens file
  src/styles/tokens/_index.scss
Due: yarn format

style(refactor): use forward insted of import
  src/styles/tokens/_index.scss
Due: yarn format

chore(vite): use scss modules
  vite.config.ts
Due: none

refactor: change order of borders
  src/styles/tokens/_borders.scss
Due: yarn format

style(refactor): change import to use
  src/styles/global/_reset.scss
  src/styles/global/index.scss
  src/styles/theme/_index.scss
  src/styles/theme/index.scss
Due: yarn format

style(refactor): move normalize to its own file
  src/styles/global/_normalize.scss
Due: yarn format

style(refactor): use tokens
  src/styles/global/_default.scss
Due: yarn format

style(refactor): move root to its own file
  src/styles/global/_root.scss
  src/styles/global/index.scss
Due: yarn format

docs: add styles comments to give context
  src/styles/global/index.scss
  src/styles/tokens/_index.scss
Due: yarn format

refactor: remove unused Image component
  src/components/Image/index.ts
Due: yarn lint

chore(deps): bump dependencies
  package.json
  yarn.lock
Due: none

chore(deps): add modclean
  package.json
  yarn.lock
Due: none

chore(deps): bump vue
  package.json
  yarn.lock
Due: none

chore(deps): add npm-run-all
  package.json
  yarn.lock
Due: none

chore(scripts): make script for clean modules
  package.json
Due: none

chore(scripts): make build script cross platform
  package.json
Due: none

chore(package): add author information
  package.json
Due: none

refactor: make element name pascal case
  src/components/Heading/Heading.vue
  src/components/Text/Text.vue
Due: yarn lint

chore(eslint): disable rule
  .eslintrc.js
Due: none

feat: add mode environment variables
  src/configs/environment.ts
Due: yarn lint

docs: add descriptions to env variables
  src/configs/environment.ts
Due: yarn lint

chore(deps): add hash-string
  package.json
  yarn.lock
Due: none

chore(tsconfig): provide custom root types
  tsconfig.json
Due: none

refactor: get custom key from module
  src/services/local-storage/local-storage-service.ts
Due: yarn lint

feet: add hash in storage key on production
  src/services/local-storage/local-storage-key.ts
Due: yarn lint

chore: add custom type for hash-string dependency
  types/hash-string.d.ts
Due: none

feat: add utility function for hash strings
  src/utilities/hash.ts
Due: yarn lint

chore(lint-staged): remove global prefixes
  .lintstagedrc
Due: none

fix: fixes heading level
  src/pages/Movie/components/MovieReviewCard.vue
Due: yarn lint

refactor: change computed name
  src/components/Heading/Heading.vue
Due: yarn lint

refactor: make baseURL required
  src/services/api/index.ts
Due: yarn lint

refactor: change cache time to 10 minutes
  src/services/api/index.ts
Due: yarn lint

refactor: export type
  src/test/data/movies.ts
Due: yarn lint

refactor: get movies from movie database
  src/test/server/handlers/movie-handlers.ts
Due: yarn lint

refactor: export function
  src/test/data/movies.ts
Due: yarn lint

feat: add not found response for movies
  src/test/server/handlers/movie-handlers.ts
Due: yarn lint

Path conditions:
  yarn lint: any of: src/**/*.{vue,ts,js}
  yarn format: any of: src/**/*.{json,css,scss}
