Repository emkis/MovieCollection: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor(styles): remove unnecessary rem conversion
  src/pages/Movie/Movie.vue
  src/pages/Movie/components/MovieReviewCard.vue
  src/pages/Movie/components/MovieReviews.vue
  src/pages/MovieCollection/components/MovieCollectionCardLoader.vue
Due: eslint --fix

refactor: remove unused files
  src/pages/Movie/components/MoviePoster.vue
  src/pages/Movie/components/MoviePresentation.vue
Due: eslint --fix

refactor: change folder name
  src/pages/MovieCollection/index.ts
  src/pages/Movies/Movies.vue
  src/pages/Movies/components/MovieCollectionCard.vue
  src/pages/Movies/components/MovieCollectionCardLoader.vue
  src/pages/Movies/index.ts
  src/pages/Movies/queries/movies-query-keys.ts
  src/pages/Movies/queries/movies-query.ts
Due: eslint --fix

refactor: change components name
  src/pages/Movies/Movies.vue
  src/pages/Movies/components/MovieCard.vue
  src/pages/Movies/components/MovieCardLoader.vue
Due: eslint --fix

refactor: change route name
  src/router/routes.ts
Due: eslint --fix

feat: add right styles for card
  src/pages/Movies/components/MovieCard.vue
Due: eslint --fix

feat: add new container styles
  src/components/Container/Container.vue
Due: eslint --fix

refactor: change component name
  src/components/Container/Container.vue
  src/components/Container/index.ts
  src/components/SafeEdgesContainer/SafeEdgesContainer.vue
  src/components/SafeEdgesContainer/index.ts
Due: eslint --fix

style(refactor): change fixed spacing for token
  src/components/MovieInfo/MovieInfo.vue
Due: eslint --fix

feat: add color prop
  src/components/Text/Text.vue
Due: eslint --fix

feat: add new styles for the home
  src/pages/Movies/Movies.vue
Due: eslint --fix

feat: increase color contrast
  src/styles/global/_colors.scss
Due: prettier --write

refactor: increase handler delay
  src/test/server/handlers/movie-handlers.ts
Due: eslint --fix

feat: add new style for card loader
  src/pages/Movies/components/MovieCard.vue
  src/pages/Movies/components/MovieCardLoader.vue
Due: eslint --fix

refactor: add missing class to loader
  src/pages/Movies/Movies.vue
Due: eslint --fix

feat: add dinamic padding
  src/pages/Movies/Movies.vue
Due: eslint --fix

refactor: remove heading section
  src/pages/Movie/components/MovieReviews.vue
Due: eslint --fix

feat: add new page styles
  src/pages/Movie/Movie.vue
Due: eslint --fix

chore(deps): bump dependencies
  package.json
  yarn.lock
Due: none

feat: add footer section
  src/pages/Movies/Movies.vue
  src/pages/Movies/components/FooterSection.vue
Due: eslint --fix

refactor: change px to spacing token
  src/pages/Movie/components/MovieReviewCardList.vue
Due: eslint --fix

refactor: change review card style
  src/pages/Movie/components/MovieReviewCard.vue
Due: eslint --fix

feat: add review card loader
  src/pages/Movie/components/MovieReviewCardLoader.vue
Due: eslint --fix

refactor: change classname
  src/pages/Movie/components/MovieReviewCardList.vue
Due: eslint --fix

feat: add min-height for review card
  src/pages/Movie/components/MovieReviewCard.vue
  src/pages/Movie/components/MovieReviewCardLoader.vue
  src/pages/Movie/components/MovieReviews.vue
Due: eslint --fix

refactor: remove unused file
  src/pages/Movie/components/MovieReviewCardList.vue
Due: eslint --fix

feat: use review card loader
  src/pages/Movie/components/MovieReviews.vue
Due: eslint --fix

refactor: remove unnecessary suspense
  src/pages/Movie/Movie.vue
Due: eslint --fix

docs: update stack
  README.md
Due: none

chore(deps): bump dependencies
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: none

chore(msw): update worker version
  public/mockServiceWorker.js
Due: none

chore(deps): update browserlist reference
  yarn.lock
Due: none

refactor: change mocks folder structure
  src/main.ts
  src/mocks/msw/handlers.ts
  src/mocks/msw/modules/movie/database.ts
  src/mocks/msw/modules/movie/handlers.ts
  src/mocks/msw/modules/movie/movies.ts
  src/mocks/msw/server/development.ts
  src/mocks/msw/server/test.ts
Due: eslint --fix

chore(tsconfig): add path alias to msw
  tsconfig.json
Due: none

refactor: change import path to use alias
  src/main.ts
  src/mocks/msw/handlers.ts
  src/mocks/msw/server/development.ts
  src/mocks/msw/server/test.ts
Due: eslint --fix

chore(vite): add alias for msw
  vite.config.ts
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{vue,ts,js}
  prettier --write: any of: src/**/*.{json,css,scss}
